header {
    border-bottom: 2px solid black;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    font-family: 'Courier New', Courier, monospace;
}